@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots > li {
  background-color: #D0D0D0 !important;
  height: 4px !important;
  width: 16px !important;
  border-radius: 2px !important;
}

.slick-dots .slick-active {
  background-color: #389ED9 !important;
  width: 28px !important;
}

.slick-dots li button:before {
  content: none !important;
}