@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-dots > li {
  background-color: #D0D0D0;
  height: 4px;
  width: 16px;
  border-radius: 2px;
}

.slick-dots .slick-active {
  background-color: #389ED9;
  width: 28px;
}

.slick-dots li button:before {
  content: none;
}